body {
    font-family: var(--wp--preset--font-family--montserrat);
    font-weight: 400;
    font-size: var(--wp--preset--font-size--default);
    color: var(--wp--preset--color--font-black);

    h1 {
        line-height: 3rem;
    }
    h2 {
        line-height: 2.6rem;
    }
}

@media screen and ( max-width: 580px ) {
    .mobile-line-height {
        line-height: 5.2rem;
    }
}