body {
    font-family: var(--wp--preset--font-family--system-fonts);
    font-weight: 400;
    font-size: var(--wp--preset--font-size--default);
    color: var(--wp--preset--color--font-black);

    h1 {
        line-height: 3rem;
    }
    h2 {
        line-height: 2.6rem;
    }
}