footer {
    background-color: var(--wp--preset--color--black);
    height: 8rem;

    ul#menu-footer-menu li{
        display:inline-block;
        margin-top:3rem;
        margin-left:5rem;

        &:not(:last-child) {
            margin-right:3rem;
        }
    }

    .copyright {

        p {
            color: var(--wp--preset--color--white);
            font-size: var(--wp--preset--font-size--small);
            margin-top:3rem;
            padding: 2rem;
            text-align: center;
        }
    }

}

@media screen and ( max-width: 480px ) {

    footer {
        height:7rem;
    }
}